
body {
  background-color: #ffffff;
  display: flex; 
  flex-direction: column; 
  align-items: flex-center;
  margin-left: 40px;
  margin-right: 40px;
}

canvas { 
  background: #403e3f; 
  cursor: none;
}

header { 
  font-family: 'Roboto', sans-serif;
  font-size: 40px; 
  display: flex; 
  padding-bottom: 5px;
}
p { 
  font-family: "Arial"; 
  font-size: 12px; 
  text-align: left; 
  line-height: normal;
  padding-bottom: 5px;
}

/* reference for button effect, thanks to: https://www.joshwcomeau.com/animation/css-transitions/ */
.arrow {
  display: flex;
  align-self: center;
  border-radius: 50%;
  transition: transform 250ms;
}

.arrow:hover {
  transform: translateY(10px);
}

.items-container { 
  display: flex; 
  justify-content: space-between;
  flex-direction: row;
}

.text-container {
  width: 45%;
  height: 400px; 
  padding-top: 0px;
  padding-left: 10px;
  overflow: scroll;
}

.instruction {
  height: 400px;

}