
body {
  background-color: #ffffff;
  display: flex; 
  flex-direction: column; 
  align-items: flex-center;
  margin-left: 40px;
  margin-right: 40px;
}

canvas { 
  background: #403e3f; 
  cursor: none;
}

header { 
  display: flex;
  align-items: flex-start;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  max-height: 120px;
  background-color: #f7d80a;
  margin-top: 15px;
  margin-bottom: 25px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px; 
  margin-left: 10px;
}

p { 
  font-family: "Arial"; 
  font-size: 12px; 
  text-align: left; 
  line-height: normal;
  padding-bottom: 5px;
}


/* reference for button effect, thanks to: https://www.joshwcomeau.com/animation/css-transitions/ */
.arrow-down {
  display: flex;
  border-radius: 50%;
  transition: transform 250ms;
}

.arrow-down:hover {
  transform: translateY(10px);
}

.items-container { 
  display: flex; 
  justify-content: space-between;
  flex-direction: row;
}

.text-container {
  width: 45%;
  height: 400px; 
  padding-top: 0px;
  padding-left: 10px;
  overflow: scroll;
}

.instruction {
  height: 400px;
}

.container-label {
  display: flex;
  flex-direction: column;
  transform: rotate(180deg); 
}

.desktop-label {
  writing-mode: vertical-rl; 
  text-orientation:sideways-right;
}

/* desktop design */
@media only screen and (max-width: 924px) {
  .items-container { 
    display: flex; 
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .container-label {
    transform: none; 
  }
  .desktop-label {
    writing-mode: none; 
    text-orientation: none;
  }
 }