
body {
  display: flex; 
  flex-direction: column; 
  align-items: flex-center;
  margin-left: 40px;
  margin-right: 40px;
}

canvas { 
  background: #c7adba; 
}

header { 
  font-family: 'Roboto', sans-serif;
  font-size: 40px; 
  display: flex; 
  padding-bottom: 5px;
}
p { 
  font-family: "Arial"; 
  font-size: 12px; 
  text-align: left; 
  line-height: normal;
  padding-bottom: 5px;
}

.items-container { 
  display: flex; 
  justify-content: space-between;
  flex-direction: row;
}

.text-container {
  width: 45%; 
  padding-top: 0px;
}